<div class="container">
	<form >
	  <div class="form-group">
		<label>Bezeichnung:</label>
		<input #bezeichnung class="form-control" placeholder="Bezeichnung"
	>
	
	  </div>
 
	  <div class="form-group">
		<label>Datum:</label>
		<input #datum class="form-control" placeholder="YYYY-MM-DD">
	
	  </div>

	  <div class="form-group">
		<label>Uhrzeit von:</label>
		<input #von class="form-control" placeholder="HH:MM">
	
	  </div>

	  <div class="form-group">
		<label>Uhrzeit bis:</label>
		<input #bis class="form-control" placeholder="HH:MM">
	
	  </div>

	  <div class="form-group">
		<label>Teilnehmeranzahl:</label>
		<input #max_teilnehmer class="form-control" placeholder="Anzahl der Teilnehmer">
	
	  </div>

	  <div class="form-group">
		<label>Raum:</label>
		<input #ort class="form-control" placeholder="Raum">
	
	  </div>
 
	  <button class="btn btn-primary" (click)="onClick(bezeichnung.value, datum.value, von.value, bis.value, max_teilnehmer.value, ort.value);">
		Bestätigen</button>
 
	</form>
</div>
<br>
<app-messages></app-messages>




	

