<table mdbTable class="table table-striped table-responsive-md btn-table" bordered="true">
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let event of events">
      <th scope="row">{{event.bezeichnung}}</th>
      <td>{{event.datum}}</td>
      <td>{{event.von}}</td>
      <td>{{event.bis}}</td>
      <td>{{event.ort}}</td>
      <td>
          {{event.teilnehmer}}
      </td>
      
    </tr>
  </tbody>
</table>
